<% var last; %>
<% page.posts.each(function(post){ %>
  <% var year = post.date.year(); %>
  <% if (is_archive()) { %>
    <% if (last != year){ %>
      <% if (last != null){ %>
        </div></section>
      <% } %>
      <% last = year; %>
      <section class="archives-wrap">
        <div class="archive-year-wrap">
          <h1 style="font-family: 'Press Start 2P', cursive"><a href="<%- url_for('archives/' + year) %>" class="archive-year"><%= year %></a></h1>
        </div>
        <div class="post-list">
    <% } %>
  <% } else { %>
    <div class="post-list">
  <% } %>

    <div class="post-list-item article">
      <h3 class="article-header">
        <%- partial('_partials/post/title', {post: post}) %>
      </h3>
      <%- partial('post/gallery', {post: post}) %>
      <div class="article-info">
        <a href="<%- url_for(post.path) %>"><%- partial('_partials/post/date', {post: post}) %></a>
        <%- partial('_partials/post/category', {post: post}) %>
        <%- partial('_partials/post/tag', {post: post}) %>
      </div>
      <div class="article-entry">
        <% if (post.excerpt) { %>
          <%- post.excerpt %>
          <p>
            <a href="<%- url_for(post.path) %>">
              <%= __('more') %>
            </a>
          </p>
        <% } else { %>
          <%- post.content %>
        <% } %>
      </div>
      <a class="twitter-share-button"
        href="https://twitter.com/share"
        data-size="large"
        data-url="https://dev.twitter.com/web/tweet-button"
        data-via="twitterdev"
        data-related="twitterapi,twitter"
        data-hashtags="example,demo"
        data-text="custom share text"
        data-size="small"
        data-lang="ja"
        data-dnt="true">
      Tweet
      </a>
      <div class="fb-share-button" data-href="<%- post.permalink %>" data-layout="button_count" data-size="small" data-mobile-iframe="true">
        <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=<%- post.permalink %>">シェア</a>
      </div>
      <a href='http://cloud.feedly.com/#subscription%2Ffeed%2Fhttp%3A%2F%2Fhttps%3A%2F%2Fasterisks.netlify.com%2Fatom.xml'  target='blank'><img id='feedlyFollow' src='http://s3.feedly.com/img/follows/feedly-follow-rectangle-flat-medium_2x.png' alt='follow us in feedly' width='71' height='28'></a>
    </div>

  <% if (!is_archive()) { %>
    </div>
  <% } %>
<% }) %>

<%- partial('_partials/pagination') %>
